@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Work+Sans:300,400,500,700,800&display=swap');

*{
    margin:     0;
    padding:    0;
}

/* -------------------------------ON HOLD----------------------------------------- */
/* font-family: 'Work Sans',sans-serif; */
/* Farbe: #2e2e2e / #fff / #000 / #1d2c2f  */
/* -------------------------------ON HOLD----------------------------------------- */
/* --------------------------START ALLGEMEINES ZEUG------------------------------- */

body{
    font-family: 'Lora', sans-serif;
    width: 100%;
}
header{
    height: 85vh;
    width: 100%
}

h1{
    font-size: 3em;
}

h2{ margin-top: 20px;
    font-size: 1.5em;
    font-weight: lighter;
}

h3{
    font-size: 3em;
    color: #fff;
}

h4{ margin: 30px 0;
    font-size: 1em;
    font-weight: lighter;
}

p {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    color: #fff;
    line-height: 2.5em;
    font-weight: 400;
    opacity: 0.8;
}


/* --------------------------ENDE ALLGEMEINES ZEUG------------------------------- */
/* --------------------------START HEADER UPPERPART------------------------------ */
#header_upperpart{
    width: 100%;
    background-color: #fff;
    color: black;
    display: flex;
    height: 85vh;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.right{
    display:flex;
    justify-content: flex-end;
    object-fit: center/cover;
    width:60%;
}
/* --------------------------ENDE HEADER UPPERPART------------------------------ */
/* ------------------------START HEADER - LOWERPART -----------------------------*/
#header_lowerpart{
    height: 10vh;
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#header_lowerpart img{
    margin-left: 20px;
    z-index: 1;
}

#header_lowerpart ul{
    margin-right: 60px;
}

#header_lowerpart ul li {
    list-style: none;
    display: inline;
    margin: 0 80px;
}

#header_lowerpart ul li a{
    color:#fff;
    text-decoration: none;
    }

#header_lowerpart ul li a:hover{
    color:#fff;
    text-decoration: underline;
    }
/* ------------------------ENDE HEADER - LOWERPART --------------------------------*/
/* ------------------------START MAIN - Section 1 --------------------------------*/
#main-section-1{
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
    color: black;
    display: flex;
}

.main-left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 35px;
}

.main-left img {
    object-fit: contain;
    height: 70vh;
}

.main-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
}

/* ------------------------ENDE MAIN - Section 1 --------------------------------*/
/* ------------------------START MAIN - Section 2 --------------------------------*/
#main-section-2{
    width: 100%;
    height: 120vh;
    background-color: #fff;
    color: black;
} 

#main-section-2-headlines{
    display: block;
    text-align: center;
    margin: 15vh;
}
    
#main-section-2-grid{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh;
    grid-gap: 2em;
    grid-template-areas:
    "fig1 fig2 fig3"
    ;
}

figure{
    display:    flex;
    flex-wrap:  wrap;
    justify-content: center;
}

figure img{
    object-fit: contain;
    height: 35vh;
}

figcaption{
    margin: 0;
    color: #2e2e2e;
    opacity: 0.7;
    font-family: 'Work Sans',sans-serif;
}
#figure1{
    grid-area:  fig1;
    margin-left: 2em;
}
#figure2{
    grid-area:  fig2;
}
#figure3{
    grid-area:  fig3;
    margin-right: 2em;
}

#movie{
    position: absolute;
    left: 33%;
    width: 33%;
    margin-bottom: 10vh;
}


/* ------------------------ENDE MAIN - Section 2 --------------------------------*/
/* ------------------------START MAIN - Section 3 --------------------------------*/
#main-section-3{
    width: 100%;
    height: 85vh;
    background-color: #2e2e2e;
    color: black;
    display: flex;
}

.main-section-3-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 60px;
}
.main-section-3-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 60px;
    margin-left: 60px;}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input[type="text"]{
    width: 400px;
    height: 30px;
    margin: 30px 0;
}

label {
    color: white;
    font-size:2em;
}

input[type="submit"]{
    width: 150px;
    height: 30px;
    margin: 30px 0;
    font-weight: 700;
}
/* ------------------------ENDE MAIN - Section 3 --------------------------------*/
/* ------------------------START FOOTER -----------------------------------------*/
footer{
    height: 12vh;
    width: 100%;
    background-color: #1d2c2f ;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    z-index: 1;
}

footer h4:nth-of-type(1){
    margin-left: 60px;
    z-index: 1;
}

footer h4:nth-of-type(2){
    margin-left: 60px;
    z-index: 1;
}

footer ul{
    margin-right: 30px;
}

footer ul li {
    list-style: none;
    display: inline;
    margin: 0 30px;
}

footer ul li a{
    color:#fff;
    text-decoration: none;
    }

footer ul li a:hover{
    color:#fff;
    text-decoration: underline;
    }

/* ------------------------ENDE FOOTER -----------------------------------------*/
